{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    <li>
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

    <h3 class="archive__item-title" itemprop="headline">
      {% if post.link %}
        <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
      {% else %}
        <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
      {% endif %}
      In <i>{{ post.venue }}</i>. {{ post.date | default: "1900-01-01" | date: "%Y" }}.
      {% if post.oral %}
        [Oral]
      {% endif %}
    </h3>
    
    {% if post.authors %}
      <p>{{ post.authors }}</p>
    {% endif %}
    
    {% if post.code or post.supp or post.poster or post.slides or post.video or post.bib %}
      <p>
    {% endif %}
    {% if post.code %}
      <a href="{{ post.code }}">[Code]</a>
    {% endif %}
    {% if post.supp %}
      <a href="{{ post.supp }}">[Supp]</a>
    {% endif %}
    {% if post.poster %}
      <a href="{{ post.poster }}">[Poster]</a>
    {% endif %}
    {% if post.slides %}
      <a href="{{ post.slides }}">[Slides]</a>
    {% endif %}
    {% if post.video %}
      <a href="{{ post.video }}">[Presentaion]</a>
    {% endif %}
    {% if post.bib %}
      <a href="{{ post.bib }}">[Bib]</a>
    {% endif %}
    
    {% if post.code or post.supp or post.poster or post.slides or post.video or post.bib %}
      </p>
    {% endif %}
  </li>
  </article>
</div>
